<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Proyecto1Prueba1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearAlumnoServlet</display-name>
    <servlet-name>CrearAlumnoServlet</servlet-name>
    <servlet-class>com.CrearAlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearAlumnoServlet</servlet-name>
    <url-pattern>/CrearAlumnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAlumnosServlet</display-name>
    <servlet-name>ListaAlumnosServlet</servlet-name>
    <servlet-class>com.ListaAlumnosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAlumnosServlet</servlet-name>
    <url-pattern>/ListaAlumnosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAlumnoServlet</display-name>
    <servlet-name>EditarAlumnoServlet</servlet-name>
    <servlet-class>com.EditarAlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAlumnoServlet</servlet-name>
    <url-pattern>/EditarAlumnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAlumnoServlet</display-name>
    <servlet-name>EliminarAlumnoServlet</servlet-name>
    <servlet-class>com.EliminarAlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAlumnoServlet</servlet-name>
    <url-pattern>/EliminarAlumnoServlet</url-pattern>
  </servlet-mapping>
</web-app>